<div class='row-fluid hidden-phone'>
  <div class='span12 divider'></div>
</div>
<div class='row-fluid hidden-phone'>
  <div class='span12'>
    <%= image_tag 'moultonbarnlogo.png' %>
    <div class='pull-right' style='font-size: medium; vertical-align: middle; background-color: mistyrose;'>Auctions are currently being tested. Feel free to bid, and report any problems to
                            dave@themoultons.net,<br /> but be aware that you are not bidding for real! The auctions will
                            start on July 1st.
    </div>
  </div>
</div>
<div class='row-fluid'>
  <div class='span12 divider'></div>
</div>
<div class='row-fluid'>
  <div id="auction-list-container" class='span2'>
    <ul>
      <li ng-repeat="item in items">
        <h3 ng-click="showItem(item)">{{item.name}}</h3>
      </li>
    </ul>
    <p><a href="http://themoultonbarn.com">Main Website</a></p>
  </div>
  <div class="span10">
  <div id="auction-view-container" ng-show="selectedItem">



    <form name="form" novalidate class="css-form">

        <div class="row-fluid">
            <div class="span4">
              <h2>Place Your Bid</h2>
              <div class="alert alert-success" ng-show="highBidder">
                You are currently the high bidder
              </div>
              <div class="alert alert-error" ng-show="bidError">
                {{biddingError}}
              </div>
                <div class='row-fluid'>
                  <div class="span3">
                    <label>Name</label>
                    <input type=text ng-model='bid.name' required />
                  </div>
                </div>
                <div class='row-fluid'>
                  <div class="span3">
                    <label>Address</label>
                    <input type=text ng-model='bid.address' required />
                  </div>
                </div>
                <div class='row-fluid'>
                  <div class="span3">
                    <label>Phone</label>
                    <input type=tel ng-model='bid.phone' required />
                  </div>
                </div>
                <div class='row-fluid'>
                  <div class="span3">
                    <label>EMail</label>
                    <input type=email ng-model='bid.email' required />
                  </div>
                </div>
                <div class='row-fluid'>
                  <div class="span9">
                    <label>Are you attending in July?</label>
                    Yes <input type=radio name='attending' value='yes' ng-model="bid.attending" />
                    No <input type=radio name='attending' value='no' ng-model="bid.attending" />
                  </div>
                </div>
                <hr />
                <div class='row-fluid well well-small'>
                  <div class="span6 ">
                    <label>Your Bid</label>
                    <input width='span6' type=number ng-min="{{min_bid}}" ng-model='bid.amount' placeholder="at least ${{selectedItem.max_bid + selectedItem.min_increment}}" required />
                  </div>
                </div>
              <div class='row-fluid'>
                <div class="span5">
                  Save Info?
                  <input type=checkbox value="yes" ng-model="saveInfo" />
                </div>
              </div>
                  <p><button class="btn btn-primary" ng-click="placeBid()" ng-disabled="form.$invalid || isUnchanged(bid)">Bid</button></p>
              <span ng-show="form.amount.$error.float">This is not a valid price</span>
            </div>
            <div class="span5">
              <h2>Current High Bid: ${{selectedItem.max_bid}}</h2>
              <p>Number of Bids: {{selectedItem.num_bids}}</p>

              <div id="myCarousel" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">
                  <div class="item active">
                    <img ng-src="{{firstImage}}" width='500'/>
                    <div class='carousel-caption' style='color: white'>{{selectedItem.description}}</div>
                  </div>
                  <div class="item" ng-repeat='url in images'>
                    <img ng-src="{{url}}" width='500'/>
                    <div class='carousel-caption' style='color: white'>{{selectedItem.description}}</div>
                  </div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
              </div>

            </div>
        </div>

    </form>
  </div>
  </div>
</div>

<script>
    $('.carousel').carousel()
</script>