<header>
  Auctions
</header>

<div>
  <div id="auction-list-container" >
    <ul>
      <li ng-repeat="item in items">
        <h3 ng-click="showItem(item)">{{item.name}}</h3>
      </li>
    </ul>
  </div>

  <div id="auction-view-container" ng-show="selectedItem">
    <div class='row'>
        <div class='span5'>
            <h2>{{selectedItem.name}}</h2>
            <p>{{selectedItem.description}}</p>
        </div>
        <div class='span5'>
            <h2>Current High Bid: ${{selectedItem.max_bid}}</h2>
            <p>Number of Bids: {{selectedItem.num_bids}}</p>
        </div>
    </div>
    <h2>Place Your Bid</h2>

    <form name="form" novalidate class="css-form">
      <div class="container-fluid">
        <div class="row">
            <div class="span5">
              <div class="alert alert-success" ng-show="highBidder">
                You are currently the high bidder
              </div>
              <div class="alert alert-error" ng-show="bidError">
                {{biddingError}}
              </div>
                <div class='row'>
                  <div class="span1">Name:</div>
                  <div class="span2"><input type=text ng-model='bid.name' required /></div>
                </div>
                <div class='row'>
                  <div class="span1">Address:</div>
                  <div class="span2"><input type=text ng-model='bid.address' required /></div>
                </div>
                <div class='row'>
                  <div class="span1">Phone:</div>
                  <div class="span2"><input type=tel ng-model='bid.phone' required /></div>
                </div>
                <div class='row'>
                  <div class="span1">Email:</div>
                  <div class="span2"><input type=email ng-model='bid.email' required /></div>
                </div>
                <div class='row'>
                  <div class="span1">Attending?:</div>
                  <div class="span2"><p>Yes <input type=radio name='attending' value='yes' ng-model="bid.attending" />
                                     No <input type=radio name='attending' value='no' ng-model="bid.attending" /></p></div>
                </div>
                <div class='row'></div>
                <div class='row'>
                  <div class="span1">Your Bid:</div>
                  <div class="span2"><input type=number ng-min="{{min_bid}}" ng-model='bid.amount' placeholder="at least ${{min_bid}}" required /></div>
                </div>
              <div class='row'>
                <div class="span1">Save Info?</div>
                <div class="span2"><input type=checkbox value="yes" ng-model="saveInfo" /></div>
              </div>
                  <p><button class="btn btn-primary" ng-click="placeBid()" ng-disabled="form.$invalid || isUnchanged(bid)">Bid</button></p>
              <span ng-show="form.amount.$error.float">This is not a valid price</span>
            </div>
            <div class="span5"><img ng-src="{{selectedItem.image_url}}" width='500'/></div>
        </div>
      </div>
    </form>
  </div>
</div>