<div ng-controller="AuctionsCtrl">
    <div class='row-fluid hidden-phone'>
        <div class='span12 divider'></div>
    </div>
    <div class='row-fluid hidden-phone'>
        <div class='span12'>
            <img ng-src='/assets/moultonbarnlogo.png' >
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span12 divider'><span ng-show='selectedItem'>{{selectedItem.description}}</span><span ng-hide='selectedItem'>Choose an auction!</span></div>
    </div>
    <div class="alert alert-error pull-right" style='margin: 5px;'>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Please Read: </strong>
        Auctions are currently being tested. Please bid, and report any problems to
        dave@themoultons.net, but <strong>be aware that you are not placing an actual bid!</strong>
        The auctions will start on July 1st.
    </div>
    <div >
        <div id="auction-list-container" class='span2' ng-show="selectedItem">
            <span class='hidden-phone'>
                <ul>
                    <li ng-repeat="item in items">
                        <h3 ng-click="showItem(item)" ng-class="{selected: selectedItem.name==item.name}">{{item.name}}</h3>
                    </li>
                </ul>
            </span>
            <span class='visible-phone'>
                <label>Choose an Auction</label>
                <select ng-model="selectedItem" ng-options="item.name for item in items" ng-change="showItem(selectedItem)">
                    <option value=""></option>
                </select>
            </span>
        </div>
        <div class='span12' ng-hide='selectedItem' style='margin-top: 5px;'>
            <div ng-hide="selectedItem">

                <ul class="thumbnails">
                    <li class="span3" ng-repeat="item in items | orderBy:'id':true">
                        <div class="thumbnail">
                            <img ng-src="{{item.image_url.split(',')[0]}}" ng-click="showItem(item)"/>
                            <div class="caption">
                                <p>{{item.description}}</p>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="span10" ng-show="selectedItem">


            <div id="auction-view-container">

                <form name="form" novalidate class="css-form">

                    <div class="row-fluid">
                        <div class="span4">
                            <h2>Place Your Bid</h2>
                            <p>* All fields are required</p>

                            <div class='row-fluid'>
                                <div class="span3">
                                    <label>Name *</label>
                                    <input type=text ng-model='bid.name' required />
                                </div>
                            </div>

                            <div class='row-fluid'>
                                <div class="span3">
                                    <label>Phone *</label>
                                    <input type=tel ng-model='bid.phone' required />
                                </div>
                            </div>
                            <div class='row-fluid'>
                                <div class="span3">
                                    <label>EMail *</label>
                                    <input type=email ng-model='bid.email' required />
                                </div>
                            </div>
                            <div class='row-fluid'>
                                <div class="span9">
                                    <label>Are you attending in July? *</label>
                                    Yes <input type=radio name='attending' value='yes' ng-model="bid.attending" />
                                    No <input type=radio name='attending' value='no' ng-model="bid.attending" />
                                </div>
                            </div>
                            <hr />
                            <div class='row-fluid '>
                                <div class="span10">
                                    <span class='visible-phone'><strong>Item: {{selectedItem.name}}</strong></span>
                                    <label>Your Bid * ( at least {{min_bid | currency}} )</label>

                                    <div class="input-prepend input-append">
                                        <span class="add-on">$</span>
                                        <input class="span5" ng-min="{{min_bid}}" ng-model='bid.amount' required style='text-align: right;'>
                                        <span class="add-on">.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class='row-fluid'>
                                <div class="span5">
                                    Save Info?
                                    <input type=checkbox value="yes" ng-model="saveInfo" />
                                </div>
                            </div>
                            <p>
                            <p><a href="#myModal" data-toggle="modal">*Read the Terms of Payment*</a></p>
                            <button class="btn btn-primary" ng-click="placeBid()" ng-disabled="form.$invalid || isUnchanged(bid)">Bid</button>
                            <button class="btn" ng-click="resetForm()" >Clear</button>
                            </p>

                            <span ng-show="form.amount.$error.float">This is not a valid price</span>

                            <div class="alert alert-success" ng-show="highBidder">
                                You have the high bid!!
                            </div>
                            <div class="alert alert-error" ng-show="bidError">
                                {{biddingError}}
                            </div>
                        </div>
                        <div class="span8">
                            <h3>High Bid: <span ng-show='selectedItem.num_bids>0'>{{selectedItem.max_bid | currency}}  ({{selectedItem.num_bids}} <span ng-show='selectedItem.num_bids==1'>bid</span><span ng-show='selectedItem.num_bids>1'>bids</span>)</span><span ng-show='selectedItem.num_bids==0'>No bids!</span></h3>

                            <div id='images'>
                                <p><img ng-src='{{currentImage}}' ng-click='nextImage()' height='500' /></p>
                                <span ng-show='selectedItem.image_url.split(",").length>1'>
                                    Click <span class='hidden-desktop'>or tap </span>on the image to see more
                                </span>
                            </div>

                        </div>
                    </div>

                </form>
                <div>Please note that <strong>shipping is not included in the price</strong>. If you are not present on July 20th, you will need to
                    make arrangements to pick your item up, or pay to have it shipped. Payment in full is required before taking possession. Please read
                    the full <a href="#myModal" data-toggle="modal">Terms of Payment</a></div>
            </div>
        </div>
    </div>
    <div class='row-fluid hidden-phone'>
        <div class='span12 footer'>
            <hr />
            Auction Website by <a href="http://about.me/dmoulton" target="_about">David Moulton</a> |
            <a href="http://themoultonbarn.com">Return to themoultonbarn.com</a>
        </div>
    </div>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <span id="myModalLabel">Terms of Payment</span>
    </div>
    <div class="modal-body">
        <p>If you are present at the Centennial celebration on July 20 and you have won an auction, you will have the option
            of paying for your item by check or Paypal. We ask that if at all possible you pay by Paypal. Payment must occur
            the day of the celebration so that you can take possession of your item. If you are present at the celebration, but
            wish to ship your item, you must make your own arrangements to do so, and at your own expense.
        </p>
        <p>If you are not present, the only payment method you will be able to use is Paypal. You must pay
            before July 24, 2013. If you have not paid, the item will be awarded to the next highest bid. Your item will not
            be shipped until after payment is received. Shipping is not included in the winning bid. You must pay shipping costs,
            or arrange to have your item picked up.</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>