<div ng-controller="BidsCtrl">

    <div class='hero-unit' ng-hide='authenticated'>
        <legend>Authentication</legend>
        <p>If you are an authorized user, please identify yourself with your Google login. Please know that we will
            not post anything to your Google+ time line or access any of your Google contacts. This step is only to identify
            you.</p>

        <div google authenticated='authenticated' admin='admin'>
            <a href='#' class='btn btn-danger pull-right' ng-click='revoke()' ng-show='login_status == "connected"'>Try a different user</a>
            <span id="signinButton" ng-hide='login_status == "connected"'>
                <button class='btn btn-large btn-primary pull-right'>Log in with Google</button>
            </span>
        </div>
    </div>

    <div ng-show='authenticated'>
        <div class='row-fluid'>
            <div class='span12 divider'>
                <center>Click an item at left to see only it's current bids</center>
            </div>
        </div>
        <div id="auction-list-container" class='span2'>
            <ul>
                <li ng-repeat="item in items">
                    <h3 ng-click="showItem(item)">{{item.name}}</h3>
                </li>
            </ul>
        </div>
        <div class="span10">
            <div id="auction-view-container">
                <table class='table table-striped table-border'>
                    <tr>
                        <td>Item</td>
                        <td>Amount</td>
                        <td>Bidder</td>
                        <td ng-show='admin'>Phone</td>
                        <td ng-show='admin'>Email</td>
                        <td ng-show='admin'>IP Address</td>
                    </tr>
                    <tr ng-repeat="bid in bids | filter:item_name | orderBy:predicate:reverse">
                        <td>{{bid.item_name}}</td>
                        <td>{{bid.amount | currency}}</td>
                        <td>{{bid.name}}</td>
                        <td ng-show='admin'>{{bid.phone}}</td>
                        <td ng-show='admin'>{{bid.email}}</td>
                        <td ng-show='admin'>{{bid.ip_address}}</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>

