body {
  font-size: 12px;
  font-family: Helvetica, sans-serif;
  background-color: #ddd;
  margin: 0px;
  color: #702f04;
}

.logo {
  position: absolute;
  height: 90px;
  top: 0;
  left: 0;
  right: 0;
}

.divider {
  background-color: #785033;
  color: #fff;
  height: 36px;
  text-align: center;
  padding-top: 5px;
}

#auction-list-container {
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  ul {
    margin: 0px;
    list-style: none;
    padding: 0px;
    li {
      cursor: pointer;
      border-bottom: 1px solid #ddd;
      padding: 0 10px;
    }
  }
  h3 {
    font-size: 14px;
    small {
      font-size: 12px;
      color: #ccc;
      font-weight: normal;
    }
    &.active {
      color: red;
    }
  }
}
#auction-view-container {
  border-left: 1px solid #d0d0d0;
  padding-left: 5px;

  h2 {
    color: #702f04;
  }

}

.css-form input.ng-invalid.ng-dirty {
  //background-color: #FA787E;
}

.css-form input.ng-valid.ng-dirty {
  //background-color: #78FA89;
}

.footer  {
  text-align: center;
}
