body {
  font-size: 12px;
  font-family: Helvetica, sans-serif;
  background-color: #ddd;
  margin: 0px;
  color: #702f04;
}

.logo {
  position: absolute;
  height: 90px;
  top: 0;
  left: 0;
  right: 0;
}

.divider {
  background: rgb(51,31,18); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzMWYxMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzZiNDcyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMzFmMTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjN2RiOWU4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(left,  rgba(51,31,18,1) 0%, rgba(107,71,45,1) 50%, rgba(51,31,18,1) 100%, rgba(125,185,232,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,31,18,1)), color-stop(50%,rgba(107,71,45,1)), color-stop(100%,rgba(51,31,18,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(51,31,18,1) 0%,rgba(107,71,45,1) 50%,rgba(51,31,18,1) 100%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(51,31,18,1) 0%,rgba(107,71,45,1) 50%,rgba(51,31,18,1) 100%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(51,31,18,1) 0%,rgba(107,71,45,1) 50%,rgba(51,31,18,1) 100%,rgba(125,185,232,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(51,31,18,1) 0%,rgba(107,71,45,1) 50%,rgba(51,31,18,1) 100%,rgba(125,185,232,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#331f12', endColorstr='#7db9e8',GradientType=1 ); /* IE6-8 */
  color: #fff;
  text-align: center;
  padding-top: 5px;
}

#auction-list-container {
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  ul {
    margin: 0px;
    list-style: none;
    padding: 0px;
    li {
      cursor: pointer;
      border-bottom: 1px solid #ddd;
      padding: 0 10px;
    }
  }
  h3 {
    font-size: 14px;
    small {
      font-size: 12px;
      color: #ccc;
      font-weight: normal;
    }
    &.active {
      color: red;
    }
  }
}
#auction-view-container {
  border-left: 1px solid #d0d0d0;
  padding-left: 5px;

  h2 {
     color: #702f04;
   }

  h3 {
    color: #702f04;
  }

}

.css-form input.ng-invalid.ng-dirty {
  //background-color: #FA787E;
}

.css-form input.ng-valid.ng-dirty {
  //background-color: #78FA89;
}

.footer  {
  text-align: center;
}

.thumbnail {
  min-height: 150px;
  height: auto !important;
  height: 150px;
}

.selected {
  text-decoration: underline overline;
  font-weight: bold;
}
